# Background files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore files in ./data folder and subfolders
data/**
## Except folders
!data/*/
!data/*/.gitkeep

# Ignore all folders and files but ./docs/functions in ./docs
docs/*
!docs/functions

# Ignore contents of ./images
images/*
!images/.gitkeep
